.blog-post-title {
  background-color: #e7d230;
  padding: 10px 0;
}

.table-design {
  border-collapse: collapse;
  width: 100%;
}

.table-design td,
.table-design th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-design tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-design tr:hover {
  background-color: #ddd;
}

.table-design th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.add-new-post {
  padding: 20px 0;
}

.blog-post-content button,
.image-post-content button {
  margin: 20px 0;
}

